.smallCard{


}
.smallcard__main{
     margin: 10px;
    min-width: 50vw;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
}
.card__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.icon_div{
    display: flex;
    padding: 10px;

}

.icons{
 width: 15px;
 background-color: aliceblue;
}